/* Autres */
body{
    padding: 0;
    margin: 0;
}

.container-fluid
{
    padding: 0;
    margin: 0;
}

/* Header */


#header_maquette { 
    background-image: url("../img/header.png"); 
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover ; 

}
.logos
{
    margin-right:15px;
}

.navbar-brand
{
    margin-left: 200px;
}
.police
{
    font-size: 152px;
}
.white
{
    color:white;
}

nav .navbar-nav li a{
    color: white !important;
    }

.navbar-nav > li{
        
        padding-left:30px;
        padding-right:30px;
      }

#awesomeagency
{
    background:rgb(218, 18, 66);
}

/* Partie work */
.work
{
    background:rgb(34, 34, 34);
  
    min-width: 100%;
}

.work2
{
    width:100%;
}

.worktext
{
    margin-left: 170px;
    margin-right: 135px;
}
/* Let's blog section */
.textblog
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:38px;
}

/* Summer campaign */

.red
{
    color: red;
}
.textcampaign
{
    margin-bottom: 150px!important;
}

/* Section bas */
#bas
{
    background:rgb(218, 18, 66);
    
}
.write2{
    float:left;
 }

/* Section Footer */

#footer
{
    background: black;
    color:white;
    
}